name: Build for Release

on:
  workflow_dispatch:
    inputs:
      TAG_NAME:
        description: 'Version (Tag Name)'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set GitHub Environment Variables
        run: echo "GITHUB_SHA_SHORT=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - uses: dart-lang/setup-dart@v1

      - name: Install dependencies
        run: dart pub get

      - name: Verify formatting
        run: dart format --output=none --set-exit-if-changed .

      - name: Analyze project source
        run: dart analyze --fatal-infos

      - name: Build
        run: |
          dart run nyxx_commands:compile --no-compile --output nyxx_main.g.dart bin/discord_colour_mention_bot.dart
          dart compile exe nyxx_main.g.dart --output DiscordColourMentionBot_${{ github.event.inputs.TAG_NAME }} --define=version=${{ github.event.inputs.TAG_NAME }} ($GITHUB_SHA_SHORT)

      - name: Upload build
        uses: actions/upload-artifact@v6
        with:
          name: DiscordColourMentionBot_${{ github.event.inputs.TAG_NAME }}.zip
          path: DiscordColourMentionBot_${{ github.event.inputs.TAG_NAME }}
